.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display:"flex";
    flexWrap:"wrap";
     justifyContent:"center";
     alignItems:"center";
      backgroundColor:"#cfe8fc";
      height:'100vh';
}